.columns.has-background-light.mb-0.mobile-no-pad.is-vcentered
  .column.is-half.is-offset-one-quarter.pb-0.header-top.is-flex
    a(href='index.pug')
      img(src='/images/logo.png', alt='CLSC Logo') 
  .column.is-one-fourth.has-text-centered.header-top
    // font should be adjusted
    a.has-background-dark.is-size-5.has-text-white.py-3.px-3 English/中文
nav.has-background-light.navbar(role='navigation', aria-label='main navigation')
  .navbar-brand
    a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbar')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  .navbar-menu#navbar
    .navbar-item
      each link in links
        - let [name, url, icon, dropdown, id] = link;
          if dropdown
            .navbar-item.has-dropdown.is-hoverable.is-size-4-touch.drop-container(href=url)
              .columns.is-mobile.py-0.my-0.navbar-item
                .column.py-0.my-0.px-1
                  a.navbar-link(href=url) #{name}
                .column.is-flex.py-0.my-0.px-0.is-hidden-desktop
                  i.fas.fa-chevron-down.pr-5.has-text-primary
              .navbar-dropdown(id=id)
                each option in dropdown
                  - let [title, target] = option;
                  a.navbar-item.is-size-5-mobile#dropdownstyling(href=target) #{title}
          else
            a.navbar-item.above-others(class={'is-active': page === name}, href=url)
              i.has-text-primary.is-hidden-touch(class=[icon]) &nbsp
              p.is-size-4-touch #{name}
