extends templates/basicPage.pug

block prepend header
  - const page = "About Us";

block append content
  section.about-page
    .container.is-size-5.px-6

      .columns.reverse-order-on-mobile
        .column
          p(data-editable=(DEV ? 'about.paragraph_pt1' : false)) #{about.paragraph_pt1}
          br
          p(data-editable=(DEV ? 'about.paragraph_pt2' : false)) #{about.paragraph_pt2}
        .column.has-v-centered.is-two-fifths
          figure.image
            img(src='images/CLSC-Classroom-Picture.JPG', alt='Students in a classroom')
      br
      h2.subtitle.is-3.has-text-weight-bold(data-editable=(DEV ? 'about.mission' : false)) #{about.mission}
      p(data-editable=(DEV ? 'about.mission_statement_pt1' : false)) #{about.paragraph_pt1}
      br

      p(data-editable=(DEV ? 'about.mission_statement_pt2' : false)) #{about.mission_statement_pt2}
      br
      
      h2.subtitle.is-3.has-text-weight-bold(data-editable=(DEV ? 'about.goals' : false)) #{about.goals}
      p(data-editable=(DEV ? 'about.goals_objectives' : false)) #{about.goals_objectives}

      .content
        ol(type='1')
          li(data-editable=(DEV ? 'about.goal_1' : false)) #{about.goal_1}
          li(data-editable=(DEV ? 'about.goal_2' : false)) #{about.goal_2}
      
      p(data-editable=(DEV ? 'about.conclusion' : false)) #{about.conclusion}
