extends templates/basicPage.pug

block prepend header
  - const page = "charitable";

block append content
  .container.pt-5.px-6
    .columns.mb-0
      .column.is-three-fifths.is-size-5.pt-4.has-text-black
        p 
          span(data-editable=(DEV ? 'giving.intro_p_1' : false)) #{giving.intro_p_1} 
          strong(data-editable=(DEV ? 'giving.school_name' : false)) #{giving.school_name}
          span(data-editable=(DEV ? 'giving.intro_p_2' : false)) #{giving.intro_p_2} 
        p.pt-5(data-editable=(DEV ? 'giving.second_intro_p' : false)) #{giving.second_intro_p}
      .column.is-two-fifths
        img.is-3by4.px-3(src='images/CLSC-Heart.svg', alt='Hand holding a heart')
    h1.is-size-2.has-text-weight-bold.has-text-centered.has-text-black(data-editable=(DEV ? 'giving.donate' : false)) #{giving.donate}
    .columns.is-centered
      .column.has-text-centered.my-5.has-text-white
        a.button.is-large.amazon.mx-4.has-text-white.my-2(href='https://smile.amazon.com/ch/52-1099284', target='_blank') <i class='fab fa-amazon'></i> &nbsp Amazon Smile
        a.button.is-large.paypal.mx-4.has-text-white.my-2(href='https://www.pasecond_intro_pypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2KLCD6DVEBHXG&source=url', target='_blank') <i class='fab fa-paypal'></i> &nbsp PayPal
        a.button.is-large.zelle.mx-4.has-text-white.my-2(href='#payment') <img src='images/ZelleApp_Icon.png' width='30rem'> &nbsp Zelle
  section.has-background-light
    .container.px-6
      .columns.py-6.is-size-5
        .column.has-text-black.special-border.d-pad-r
          h1.is-size-3.has-text-weight-bold.is-size-4-mobile.py-2(data-editable=(DEV ? 'giving.ind_header' : false)) #{giving.ind_header}
          p.py-3(data-editable=(DEV ? 'giving.ind_txt_1' : false)) #{giving.ind_txt_1}
          p(data-editable=(DEV ? 'giving.ind_txt_2' : false)) #{giving.ind_txt_2}
          ol
            li.pt-1(data-editable=(DEV ? 'giving.ind_list_1' : false)) #{giving.ind_list_1}
            li.pt-1(data-editable=(DEV ? 'giving.ind_list_2' : false)) #{giving.ind_list_2}
            li.pt-1(data-editable=(DEV ? 'giving.ind_list_3' : false)) #{giving.ind_list_3}
            li.pt-1(data-editable=(DEV ? 'giving.ind_list_4' : false)) #{giving.ind_list_4}
            li.pt-1(data-editable=(DEV ? 'giving.ind_list_5' : false)) #{giving.ind_list_5}
        .column.has-text-black.d-pad-l
          h1.is-size-3.has-text-weight-bold.is-size-4-mobile.py-2(data-editable=(DEV ? 'giving.org_header' : false)) #{giving.org_header}
          p.py-3(data-editable=(DEV ? 'giving.org_txt_1' : false)) #{giving.org_txt_1}
          p.pb-3(data-editable=(DEV ? 'giving.org_txt_2' : false)) #{giving.org_txt_2}
          p.has-text-weight-bold(data-editable=(DEV ? 'giving.org_list_1' : false)) #{giving.org_list_1}
          p.has-text-weight-bold(data-editable=(DEV ? 'giving.org_list_2' : false)) #{giving.org_list_2}
          p.has-text-weight-bold(data-editable=(DEV ? 'giving.org_list_3' : false)) #{giving.org_list_3}
          p.has-text-weight-bold(data-editable=(DEV ? 'giving.org_list_4' : false)) #{giving.org_list_4}
  .container.px-6#payment
    .py-5.has-text-black
      h1.is-size-3.has-text-weight-bold.is-size-4-mobile(data-editable=(DEV ? 'giving.zelle_header' : false)) #{giving.zelle_header}
    .is-size-5.pb-4
      p.py-2
        span(data-editable=(DEV ? 'giving.zelle_line_1_p1' : false)) #{giving.zelle_line_1_p1} 
        a.is-italic.has-text-weight-bold.has-text-primary(href='mailto:payment@clscweb.org', data-editable=(DEV ? 'giving.zelle_line_1_email' : false)) #{giving.zelle_line_1_email}
        span(data-editable=(DEV ? 'giving.zelle_line_1_p2' : false)) #{giving.zelle_line_1_p2} 
      p.py-2
        span(data-editable=(DEV ? 'giving.zelle_line_2_p1' : false)) #{giving.zelle_line_2_p1}
        a.has-text-primary.has-text-weight-bold.underlined(href='https://drive.google.com/file/d/1Ci9Mt0S827djvmMiBKRS_oAPUO9QyL_e/view', target = 'blank', data-editable=(DEV ? 'giving.zelle_line_2_link' : false)) #{giving.zelle_line_2_link}
        span(data-editable=(DEV ? 'giving.zelle_line_1_p2' : false)) #{giving.zelle_line_1_p2}
    .py-5.has-text-black
      h1.is-size-3.has-text-weight-bold.is-size-4-mobile(data-editable=(DEV ? 'giving.org_txt_1' : false)) #{giving.org_txt_1}
      p.is-size-5 
        span(data-editable=(DEV ? 'giving.grants_text_1' : false)) #{giving.grants_text_1} 
        em(data-editable=(DEV ? 'giving.grants_text_2' : false)) #{giving.grants_text_2} 
        span(data-editable=(DEV ? 'giving.grants_text_3' : false)) #{giving.grants_text_3} 
      p.is-size-5(data-editable=(DEV ? 'giving.grants_text_4' : false)) #{giving.grants_text_4}
    .my-4.px-2.has-text-primary.has-text-weight-bold.is-size-5.has-text-centered.red-border.is-size-4-mobile
      em(data-editable=(DEV ? 'giving.thank_text' : false)) #{giving.thank_text}
