extends templates/basicPage.pug

block prepend header
  - const page = "Contact Us";

block append scripts
  script.
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.getElementById("form"),
        subject = document.getElementById("subject"),
        submit = document.getElementById("submit"),
        submitInput = document.getElementById("submitInput"),
        emails = {
            "Registration": "clsc.registrar@clscweb.org",
            "Curriculum": "clsc.dean@clscweb.org",
            "About School": "clsc.principal@clscweb.org",
            "Website": "sys.admin@clscweb.org",
            "Other": "clsc.connect@clscweb.org"
        };
      submit.addEventListener("click", () => {
          form.action = "https://formsubmit.co/"+emails[subject.value];
          submitInput.click();
      });
    });

block append content
  .container.cc-padding
    .columns.px-3
      .column
        each contact in contacts
          - let [target, info] = contact
          p.is-size-4.is-size-5-mobile.has-text-weight-bold.my-1 #{target}
          p.is-size-5.is-size-6-mobile #{info}
          br
      .column#contact
        form.has-background-light.py-3.px-6.my-3#form(method='POST', action)
          each field in form
            - let [label, type] = field
            label.label.has-text-weight-bold.is-size-4-mobile #{label}
            .control
              input.input.is-small.mb-4.is-size-5-mobile(type=type, name=label, required)
          label.label.has-text-weight-bold.is-size-4-mobile Subject
          .control
            .select.is-dark.is-small.mb-4.is-size-5-mobile
              select#subject(name='Subject')
                option Registration
                option Curriculum
                option About School
                option Website
                option Other
          label.label.has-text-weight-bold.is-size-4-mobile Message
          .control
            textarea.textarea.input.has-fixed-size.is-small.mb-4.is-size-5-mobile#message(rows='4', name='Message', required)
          .btn-container
            a.submit-btn.has-background-primary.has-text-white.has-text-weight-bold.is-size-4-mobile.px-6.py-2.my-2#submit Submit
          input#submitInput(type='submit', style='display: none')
          input(type='hidden', name='_next', value=absoluteUrl)
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3090.743152643566!2d-76.81413608448952!3d39.22599873511235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7e01cf9870471%3A0x686d3e6588b4008!2s8700%20Old%20Annapolis%20Rd%2C%20Ellicott%20City%2C%20MD%2021043!5e0!3m2!1sen!2sus!4v1597373220522!5m2!1sen!2sus', width='100%', height='250', frameborder='0', style='border:0;', allowfullscreen='false', aria-hidden='false', tabindex='0')
