extends templates/basicPage.pug

block prepend header
  - const page = "registration";

block append content
  section.hero.is-white
    .container.px-6.pb-6
      p.is-size-2.has-text-dark.has-text-weight-bold.is-size-3-mobile.pt-6(data-editable=(DEV ? 'registration.current_semester' : false)) #{registration.current_semester}
      p.registration-text.is-size-5(data-editable=(DEV ? 'registration.paragraph_one' : false)) #{registration.paragraph_one}

      .columns.has-text-weight-bold.has-text-centered.is-size-2.my-5
        .column.border-rightorbottom
          p.underlined.pb-5(data-editable=(DEV ? 'registration.one_child' : false)) #{registration.one_child}
          .slashed
            p.is-size-2(data-editable=(DEV ? 'registration.one_child_old_price' : false)) #{registration.one_child_old_price}
            img.slash-through(src='images/number-slash.svg', alt='A red slash through $280')
          p.is-size-verybig(data-editable=(DEV ? 'registration.one_child_new_price' : false)) #{registration.one_child_new_price}
        
        .column.border-rightorbottom
          p.underlined(data-editable=(DEV ? 'registration.two_children' : false)) #{registration.two_children}
          p.is-size-5.pb-5(data-editable=(DEV ? 'registration.per_household1' : false)) #{registration.per_household1}
          .slashed
            p.is-size-2(data-editable=(DEV ? 'registration.two_child_old_price' : false)) #{registration.two_child_old_price}
            img.slash-through(src='images/number-slash.svg', alt='A red slash through $490')
          p.is-size-verybig(data-editable=(DEV ? 'registration.two_child_new_price' : false)) #{registration.two_child_new_price}
        
        .column
          p.underlined(data-editable=(DEV ? 'registration.three_children' : false)) #{registration.three_children}
          p.is-size-5.pb-5(data-editable=(DEV ? 'registration.per_household2' : false)) #{registration.per_household2}
          .slashed
            p.is-size-2(data-editable=(DEV ? 'registration.three_child_old_price' : false)) #{registration.three_child_old_price}
            img.slash-through(src='images/number-slash.svg', alt='A red slash through $700')
          p.is-size-verybig(data-editable=(DEV ? 'registration.three_child_new_price' : false)) #{registration.three_child_new_price}
      
      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.breakdown' : false)) #{registration.breakdown}
      ul.list-text.is-size-5.pb-6
        li
          span(data-editable=(DEV ? 'registration.tuition' : false)) #{registration.tuition}
          strong(data-editable=(DEV ? 'registration.tuition_cost' : false)) #{registration.tuition_cost}
        li
          span(data-editable=(DEV ? 'registration.registration_fee' : false)) #{registration.registration_fee}
          strong(data-editable=(DEV ? 'registration.registration_cost' : false)) #{registration.registration_cost}
          non-refundable(data-editable=(DEV ? 'registration.registration_non_refundable' : false)) #{registration.registration_non_refundable}
        li 
          span(data-editable=(DEV ? 'registration.registration_fee' : false)) #{registration.materials_fee}
          strong(data-editable=(DEV ? 'registration.registration_cost' : false)) #{registration.materials_cost}
          non-refundable(data-editable=(DEV ? 'registration.registration_non_refundable' : false)) #{registration.materials_non_refundable}
        p.py-3 
          strong(data-editable=(DEV ? 'registration.refund_policy' : false)) #{registration.refund_policy}
          span(data-editable=(DEV ? 'registration.text_pt1' : false)) #{registration.text_pt1}
          strong(data-editable=(DEV ? 'registration.refund_policy_pt2' : false)) #{registration.refund_policy_pt2}
          span(data-editable=(DEV ? 'registration.text_pt2' : false)) #{registration.text_pt2}

      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.adult_classes' : false)) #{registration.adult_classes}
      p.registration-text.is-size-3.has-text-dark.has-text-weight-bold.py-2.is-size-5-mobile(data-editable=(DEV ? 'registration.taichi' : false)) #{registration.taichi}
      .is-size-5.pb-6
      p
        strong(data-editable=(DEV ? 'registration.bold_pt1' : false)) #{registration.bold_pt1}
        span(data-editable=(DEV ? 'registration.unbold_pt1' : false)) #{registration.unbold_pt1}
        strong(data-editable=(DEV ? 'registration.bold_pt2' : false)) #{registration.bold_pt2}
        span(data-editable=(DEV ? 'registration.unbold_pt2' : false)) #{registration.unbold_pt2}
        strong(data-editable=(DEV ? 'registration.bold_pt3' : false)) #{registration.bold_pt3}
        span(data-editable=(DEV ? 'registration.unbold_pt3' : false)) #{registration.unbold_pt3}
      p
        span(data-editable=(DEV ? 'registration.unbold_pt4' : false)) #{registration.unbold_pt4}
        strong(data-editable=(DEV ? 'registration.bold_pt4' : false)) #{registration.bold_pt4}
        span(data-editable=(DEV ? 'registration.unbold_pt5' : false)) #{registration.unbold_pt5}

      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.eligibility' : false)) #{registration.eligibility}
      p.registration-text.is-size-5.pb-6(data-editable=(DEV ? 'registration.eligibility_paragraph' : false)) #{registration.eligibility_paragraph} 

      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.trial_session' : false)) #{registration.trial_session}
      p.registration-text.is-size-5.pb-6 
        span(data-editable=(DEV ? 'registration.trial_session_pt1' : false)) #{registration.trial_session_pt1}
        a.is-italic.has-text-weight-bold.has-text-primary(href='mailto:clsc.dean@clscweb.org', data-editable=(DEV ? 'registration.trial_session_pt2' : false)) #{registration.trial_session_pt2}
        span(data-editable=(DEV ? 'registration.trial_session_pt3' : false)) #{registration.trial_session_pt3}
        
      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.late_registration' : false)) #{registration.late_registration}
      p.registration-text.is-size-5(data-editable=(DEV ? 'registration.late_registration_paragraph' : false)) #{registration.late_registration_paragraph}

  section.hero.is-light
    .container.px-6
      p.is-size-1.has-text-weight-bold.py-4.is-size-2-mobile(data-editable=(DEV ? 'registration.how_to' : false)) #{registration.how_to}
      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.new_student' : false)) #{registration.new_student}
      p.registration-text.is-size-5
        span(data-editable=(DEV ? 'registration.new_student_para1' : false)) #{registration.new_student_para1}
        strong(data-editable=(DEV ? 'registration.new_student_para2' : false)) #{registration.new_student_para2}
        span(data-editable=(DEV ? 'registration.new_student_para3' : false)) #{registration.new_student_para3}
        a.is-italic.has-text-weight-bold.has-text-primary(href='mailto:clsc.principal@clscweb.org', data-editable=(DEV ? 'registration.new_student_para4' : false)) #{registration.new_student_para4}
        span(data-editable=(DEV ? 'registration.new_student_para5' : false)) #{registration.new_student_para5}
      //-red button
      .column.is-one-third.has-text-centered.my-4.is-offset-one-third.py-5
        a(href='https://drive.google.com/file/d/1tuuwyXHAZ0SZAQsd1yX_1pTgizgMOCOZ/view', target = 'blank')
          .columns.has-text-white.is-mobile.dark-on-hover
            .column
              i.fas.fa-cloud-download-alt.is-size-1.py-2.pr-0.mr-0
            .column.is-two-thirds.has-text-weight-bold.py-2.px-2
              p.is-size-4.is-size-5-mobile.has-text-left(data-editable=(DEV ? 'registration.new_student_button' : false)) #{registration.new_student_button}
      p.registration-text.is-size-5.pb-5 
        span(data-editable=(DEV ? 'registration.new_student_para6' : false)) #{registration.new_student_para6}
        a.is-italic.has-text-weight-bold.has-text-primary(href='mailto:clsc.principal@clscweb.org', data-editable=(DEV ? 'registration.new_student_para7' : false)) #{registration.new_student_para7}
        span(data-editable=(DEV ? 'registration.new_student_para8' : false)) #{registration.new_student_para8}

      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.curr_students' : false)) #{registration.curr_students}
      p.registration-text.is-size-5
        span(data-editable=(DEV ? 'registration.curr_student_para1' : false)) #{registration.curr_student_para1}
        a.has-text-weight-bold.has-text-primary.remove-a-hover(href='', data-editable=(DEV ? 'registration.curr_student_para2' : false)) #{registration.curr_student_para2}
        span(data-editable=(DEV ? 'registration.curr_student_para3' : false)) #{registration.curr_student_para3}
        a.is-italic.has-text-weight-bold.has-text-primary(href='mailto:clsc.registrar@clscweb.org', data-editable=(DEV ? 'registration.curr_student_para4' : false)) #{registration.curr_student_para4}
        span(data-editable=(DEV ? 'registration.curr_student_para5' : false)) #{registration.curr_student_para5}
        strong(data-editable=(DEV ? 'registration.curr_student_para6' : false)) #{registration.curr_student_para6}
        span(data-editable=(DEV ? 'registration.curr_student_para7' : false)) #{registration.curr_student_para7}
      //-red button again
      .column.is-one-third.has-text-centered.my-4.is-offset-one-third.pt-5.pb-4
        a(href='http://www.registration.clscweb.org', target = 'blank')
          .columns.has-text-white.is-mobile.dark-on-hover
            .column
              i.fas.fa-link.is-size-1.py-2.pr-0.mr-0
            .column.is-two-thirds.has-text-weight-bold.py-2.px-2
              p.is-size-4.is-size-5-mobile.has-text-left(data-editable=(DEV ? 'registration.curr_student_button' : false)) #{registration.curr_student_button}
      p.is-size-2.has-text-dark.has-text-weight-bold.pb-2.is-size-3-mobile(data-editable=(DEV ? 'registration.payment' : false)) #{registration.payment}

      p.is-size-5.pb-4(data-editable=(DEV ? 'registration.payment_paragraph' : false)) #{registration.payment_paragraph}

      p.is-size-3.has-text-dark.has-text-weight-bold.pb-2.is-size-5-mobile(data-editable=(DEV ? 'registration.zelle' : false)) #{registration.zelle}
      .is-size-5.pb-4
        p.pb-2(data-editable=(DEV ? 'registration.zelle_pt1' : false)) #{registration.zelle_pt1}
        p.py-2
          span(data-editable=(DEV ? 'registration.zelle_pt2' : false)) #{registration.zelle_pt2}
          a.is-italic.has-text-weight-bold.has-text-primary(href='mailto:payment@clscweb.org', data-editable=(DEV ? 'registration.zelle_pt3' : false)) #{registration.zelle_pt3}
        p.py-2
          span(data-editable=(DEV ? 'registration.zelle_pt4' : false)) #{registration.zelle_pt4}
          strong(data-editable=(DEV ? 'registration.zelle_pt5' : false)) #{registration.zelle_pt5}
          span(data-editable=(DEV ? 'registration.zelle_pt6' : false)) #{registration.zelle_pt6} 
          strong(data-editable=(DEV ? 'registration.zelle_pt7' : false)) #{registration.zelle_pt7}
          span(data-editable=(DEV ? 'registration.zelle_pt8' : false)) #{registration.zelle_pt8} 
          strong(data-editable=(DEV ? 'registration.zelle_pt9' : false)) #{registration.zelle_pt9}
          span(data-editable=(DEV ? 'registration.zelle_pt10' : false)) #{registration.zelle_pt10} 
        p.py-2
          a.has-text-primary.has-text-weight-bold.underlined(href='https://drive.google.com/file/d/1Ci9Mt0S827djvmMiBKRS_oAPUO9QyL_e/view', target = 'blank', data-editable=(DEV ? 'registration.zelle_pt11' : false)) #{registration.zelle_pt11}
          span(data-editable=(DEV ? 'registration.zelle_pt12' : false)) #{registration.zelle_pt12}
        p.is-size-5.px-5(data-editable=(DEV ? 'registration.zelle_pt13' : false)) #{registration.zelle_pt13}
        
      p.is-size-3.has-text-dark.has-text-weight-bold.pb-2.is-size-5-mobile(data-editable=(DEV ? 'registration.check_header' : false)) #{registration.check_header}
      .is-size-5.pb-6
        p.pb-4
          span(data-editable=(DEV ? 'registration.check_text1_p1' : false)) #{registration.check_text1_p1}
          strong(data-editable=(DEV ? 'registration.check_text1_p2' : false)) #{registration.check_text1_p2}
          span(data-editable=(DEV ? 'registration.check_text1_p3' : false)) #{registration.check_text1_p3}
          strong(data-editable=(DEV ? 'registration.check_text1_p4' : false)) #{registration.check_text1_p4}
          span(data-editable=(DEV ? 'registration.check_text1_p5' : false)) #{registration.check_text1_p5}
        p 
          strong(data-editable=(DEV ? 'registration.check_text2_p1' : false)) #{registration.check_text2_p1}
          br 
          span(data-editable=(DEV ? 'registration.check_text2_p2' : false)) #{registration.check_text2_p2}
          em(data-editable=(DEV ? 'registration.check_text2_p3' : false)) #{registration.check_text2_p3}
