extends templates/basicPage.pug

block prepend header
  - const page = "Student Life";

block append content
  .container.px-6.is-size-5
    p.py-5 The Chinese language is intimately associated with Chinese history and culture. Understanding Chinese culture is essential for deeper understanding of the meaning of Chinese words and expressions. Besides teaching the Chinese language, CLSC also integrates cultural activities into our curriculum. As students explore the activities, they strengthen their experience with the Chinese culture and language in a positive and engaging way. CLSC offers cultural activities in a small group setting in and out of the classroom. Within the classroom, students learn Chinese poetry and music. Outside of the classroom, CLSC hosts a series of fun cultural activities, some of which are captured below.
    .activity-column.column.is-8.is-offset-2
      each activity in activities
        - let [title, pictures] = activity
        .has-background-light.sl-blocks
          p.has-text-weight-bold.is-size-3.has-text-centered.py-4.is-size-4-mobile #{title}
          .columns.px-6.pb-4.has-text-centered.sl-pictures
            each picture in pictures
              - let [source, caption, size] = picture
              if caption
                .column
                  p.has-text-weight-bold.has-text-centered.pb-4.last-block(class=size) #{caption}
                  img.has-border-dark(src=source)
              else     
                .column
                  img.has-border-dark(src=source)
    //need Chinese for parentheses below
    p.pb-6 In addition, CLSC plans to host culture events to showcase the traditional art performance such as Shadow Puppetry (what) and hand puppetry (also what) as well as the traditional sculpting art such as handmade dough figurines (whatwhat).
